<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`div, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

<body>
    <div class="bg-gray-900 text-gray-100 min-h-screen">
        <a href="/" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg transition duration-200 ease-in-out transform hover:scale-105">Go back to home</a>
        <h1 class="text-2xl font-bold"><%=title%></h1>
        <p class="text-lg"><%=content%></p>

    </div>
</body>
</html>